@import url('./font.css');
/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* Root variables */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #2cb6e2;
  --color-primary-light: #7edcf9;
  --color-primary-dark: #0e5d80;
  --radius-sm: 8px;
  --radius-md: 11px;
  --shadow-soft: 0 7px 10px rgba(0, 0, 0, 0.1);
}
/* Typography */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
h1,
h2,
h3 {
  color: var(--color-black);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}
/* Container */
.block {
  padding: 1rem 2rem;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* button */
.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: var(--radius-sm);
  padding: 1rem 2rem;
  font-weight: bold;
}
.btn--primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-white);
}
.btn--primary-dark {
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  color: var(--color-white);
}
.btn--secondary {
  background-color: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
}
.btn--secondary-light {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.btn--secondary-dark {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary-dark);
  color: var(--color-primary-dark);
}
.btn--block {
  width: 100%;
}
/* svg sprites */
.icon {
  width: 50px;
  height: 50px;
  margin: 0.5em;
}
/* main header */
.main-header {
  background-color: var(--color-primary);
}
.main-header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: inline-block;
  border: 20px double transparent;
  border-left-color: var(--color-white);
  border-radius: 100%;
  padding-left: 0.5rem;
  color: var(--color-white);
}
.header__nav .nav__items {
  display: none;
}
.header__action-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__menu__icon {
  cursor: pointer;
  background-color: var(--color-white);
  border-radius: var(--radius-sm);
  padding: 1.1rem;
}
.menu__icon {
  width: 25px;
  height: 3px;
  background-color: var(--color-black);
  margin-bottom: 3px;
}
.header__action-button > .dashboard,
.header__action-button > .app {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  .header__nav .nav__items {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .header__nav .nav__item > a {
    color: var(--color-white);
  }
  .header__action-button > .store,
  .header__action-button > .header__menu__icon {
    display: none;
  }
  .header__action-button > .dashboard,
  .header__action-button > .app {
    display: block;
  }
}
/* Overview */
.overview {
  background-color: var(--color-primary);
}
/* Introduction */
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.introduction__image img {
  width: 100%;
  height: auto;
}

.introduction__content,
.controller__content {
  color: var(--color-white);
}
.introduction__content .title,
.controller__content .title {
  color: inherit;
}
.introduction__content button {
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .introduction {
    flex-direction: row;
    justify-content: space-around;
  }
  .introduction__image {
    order: 1;
  }
  .introduction__content .title {
    margin-bottom: 3rem;
  }
  .introduction__content button {
    box-shadow: var(--shadow-soft);
    margin-top: 3rem;
  }
}
/* Category */
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  margin-bottom: 3rem;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.category__image {
  background-color: var(--color-white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-soft);
  display: flex;
  justify-content: center;
  align-items: center;
}
.category__image use {
  width: 100%;
  height: auto;
}
.category__title {
  color: var(--color-white);
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .categories {
    display: flex;
    justify-content: space-between;
  }
}
/* Controller */
.controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.controller__image > img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .controller__image {
    order: 1;
  }
  .controller__content {
    max-width: 50vw;
  }
}
/* Features */
.overview + .feature-container {
  background-color: #eee;
}
.feature {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.feature__image.phone {
  width: 45vw;
  max-width: 250px;
  padding: 2.5rem;
}
.feature__image.phone > img {
  width: 100%;
  height: auto;
}
.feature__image.kid > img {
  width: 100%;
  height: auto;
}
.feature__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.feature__content .title {
  color: var(--color-primary-dark);
}
.feature__content .btn {
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .feature {
    justify-content: space-around;
  }
  .feature__content {
    gap: 4rem;
  }
}
/* Usage */
.special-usage {
  background-color: var(--color-primary-light);
}
.usage__title {
  display: none;
}
.usage__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 3rem;
}
.usage__image {
  border-radius: var(--radius-sm);
  overflow: hidden;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.usage__image > img {
  width: 100%;
  height: auto;
}
.usage__desc {
  font-size: 1.4rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .usage__title {
    display: block;
    color: var(--color-primary-dark);
    margin-bottom: 2rem;
  }
  .usage__desc {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .usage__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Experience */
.experience-container {
  background-color: var(--color-primary-light);
}
.experience {
  display: flex;
  flex-direction: column;
}
.experience__content .title {
  color: var(--color-primary-dark);
  margin-bottom: 1.5rem;
}
.experience__image {
  align-self: center;
  max-width: 400px;
}
.experience__image > img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .experience {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .experience__content .desc {
    font-size: 2.3rem;
  }
}
/* Footer */
.main-footer {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}
.main-footer a {
  color: inherit;
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.4rem 1rem;
  font-size: 1.4rem;
}
.main-footer .nav__item{
  margin-bottom: 0.5rem;
}
.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  row-gap: 3.5rem;
  column-gap: 1rem;
}
.footer .title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.footer__apps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.footer__apps a {
  padding: 0;
  margin: 0;
}
.footer__apps img {
  width: 100%;
  max-width: 170px;
  height: auto;
}
.footer__copy {
  grid-column: 1/-1;
  text-align: center;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer__socail__image {
  background-color: #2b718f;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__socail__image use {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
